{% extends 'base.html' %}
{% block content %}
  
  
<div class="title-small">
  <h1>Blog</h1>
  <h5><i>Read our blog written by our members & committee!</i></h5>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 custom-box">
      <div class="center-contents">
        <div class="container mt-4">
          <div class="row mx-auto">
            <div class="col-md-4">
              <div class="committee-member">
                <img src="static/assets/img/committee-graphics/CHAIRPERSON.png" alt="Committee Member">
                <h3>Sarah Ó Tuama</h3>
                <h5><i>Chairperson</i></h5>
                <div class="social-icons">
                  <ul>
                    <li><a href="https://www.instagram.com/sarahotuama" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.tiktok.com/@sarahotuama?_t=8gmjEAPmXaL&_r=1" target="_blank"><i class="fa-brands fa-tiktok" aria-hidden="true"></i></a></li>
                    <li><a href="mailto:chair@dcumps.ie" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="committee-member">
                <img src="static/assets/img/committee-graphics/VICE-CHAIR.png" alt="Committee Member">
                <h3>Jack Shannon-Nolan</h3>
                <h5><i>Vice-Chairperson</i></h5>
                <div class="social-icons">
                  <ul>
                    <li><a href="https://www.instagram.com/jack_sn12?igsh=ajZ4d2RoZnNrYTF2&utm_source=qr" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/jack-shannon-nolan-02338829b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="mailto:vicechair@dcumps.ie" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>         
            <div class="col-md-4">
              <div class="committee-member">
              <img src="static/assets/img/committee-graphics/SECRETARY.png" alt="Committee Member">
              <h3>Kate Byrne</h3>
              <h5><i>Secretary</i></h5>
              <div class="social-icons">
                <ul>
                  <li><a href="https://www.instagram.com/k8_byrne11?igsh=anZvNnQ1ZXZtZWpr" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/kate-byrne-52362a258?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
                  <li><a href="mailto:secretary@dcumps.ie" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
</body>
</html>
