{% extends 'base.html' %}
{% load static %}
{% block content %}
  
<div class="title-small">
  <h1>{{ committee_history.title }}</h1>
  <h5><i>Meet everyone who has contributed to MPS over the years!</i></h5>
  <h5><i>If you were on committee previously and are not listed, please let us know at <a href="mailto:webmaster@dcumps.ie">webmaster@dcumps.ie</a></i></h5>
</div>
<div class="container">
<div class="row justify-content-center">
  <div class="col-md-8 custom-box shadow-lg bg-body">
    <div class="awards">
      <div class="center-contents shadow-lg bg-body" style="background-color: #202E4E; border-radius: 15px; padding-top: 10px; padding-bottom: 10px;"> 
        <ul style="padding-left: 10px; padding-right: 10px; list-style: none; text-align: left;">
          {% for member in committee_history.members.all %}
          <li><b>{{ member.position }}</b> - {{ member.name }}</li>
          {% endfor %}
          <ul></ul>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <a class="btn btn-primary" style="background-color: #202E4E; border-radius: 25px; border-width: 4px; border-color: white;" href="/committee/history">Back to Committee History Home</a>  
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
{% block footer %}
{% endblock %}
</body>
</html>
