{% extends 'base.html' %}
{% load static %}
{% block content %}
  
  
<div class="title-small">
  <h1>{{ committee_page_info.page_title }}</h1>
  <h5><i>{{ committee_page_info.page_subtitle }}</i></h5>
</div>
<div class="container">
  <div class="row justify-content-center" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="col-md-12">
      <div class="center-contents">
        <div style="width: 100%; min-width: 200px; max-width: 800px; margin: 0 auto;">
          <div style="position: relative; width: 100%; overflow: hidden; padding-top: 56.25%;">
            <p><iframe style="position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; border: none; border-radius: 25px;" src="{{ committee_page_info.committee_video_link }}" width="560" height="315" allowfullscreen="allowfullscreen" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="row justify-content-center">
  <div class="col-md-12 custom-box">
      <div class="center-contents">
          <div class="container mt-4">
              <div class="row">
                  {% for member in committee_members %}
                  <div class="col-md-4">
                      <div class="committee-member">
                          <img src="{% static member.image %}" alt="Committee Member">
                          <div class="mx-4 pt-2 hvr-bounce-in" style="background-color: #202E4E; border-radius: 15px;">
                              <h3>{{ member.name }}</h3>
                              <h5><i>{{ member.position }}</i></h5>
                              <div class="social-icons">
                                <ul>
                                  <li><a href="{{ member.social_link_1_url }}" target="_blank"><i class="{{ member.social_link_1_icon }} hvr-bounce-in" aria-hidden="true"></i></a></li>
                                  <li><a href="{{ member.social_link_2_url }}" target="_blank"><i class="{{ member.social_link_2_icon }} hvr-bounce-in" aria-hidden="true"></i></a></li>
                                  <li><a href="{{ member.social_link_3_url }}" target="_blank"><i class="{{ member.social_link_3_icon }} hvr-bounce-in" aria-hidden="true"></i></a></li>
                                </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
</div>
</div>
<!-- 

    


  <div class="col-md-4">
    <div class="committee-member">
      <img src="static/assets/img/committee-graphics/WEBMASTER.png" alt="Committee Member">
      <h3><a href="https://www.jakefarrell.ie" target="_blank">Jake Farrell</a></h3>
      <h5><i>Webmaster</i></h5>
      <div class="social-icons">
        <ul>
          <li><a href="https://www.instagram.com/jakefarrell2003/" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/jake-farrell-2a4674239/" target="_blank"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="mailto:webmaster@dcumps.ie" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</div>-->
</div>
</div>
</div>
</div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
</body>
</html>
