{% extends 'base.html' %}
{% block content %}
<div class="title-small">
  <h1>Contact DCU MPS</h1>
  <h5 class="contact-hover"><i>Fill in the form below or email us at <a href="mailto:committee@dcumps.ie">committee@dcumps.ie</a></i></h5>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 custom-box">
      <div class="center-contents">
        <div class="content">
          <form 
          action="https://formspree.io/f/mvoezdjg" 
          method="POST"
          >
          <p>
            <label for="contact-name">Name</label>
            <br> </br>
            <input id="contact-name" type="text" name="contact-name"/>
          </p>
          <p>
            <label for="contact-email">Email Address</label>
            <br> </br>
            <input id="contact-email" type="email" name="email"/> </p>
            <p>
              <label for="contact-message">Message</label>
              <br> </br>
              <textarea id="contact-message" name="message" rows="5"> </textarea>
            </p>
            <p>
              <div class="submitbutton">
                <input class="btn btn-primary" style="background-color: #202E4E; border-radius: 25px; border-width: 4px; border-color: white;" type="submit" value="Send Message"/> </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 custom-box">
      <div class="awards">
        <div class="center-contents inside-box"> 
          <h4>Address</h4>
          <p class="text-spacing">DCU Media Production Society, The U Building, Dublin City University, Glasnevin, Dublin 9, Co. Dublin, D09NRT0</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 custom-box">
      <div class="awards">
        <div class="center-contents inside-box"> 
          <h4>Find Us</h4>
          <div style="width: 100%"><iframe style="border-radius: 8px;" width="95%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=DCU%20Media%20Production%20Society%20The%20U,%20Dublin%20City%20University,%20Glasnevin,%20Dublin%209,%20D09%20NRT0+(DCU%20Media%20Production%20Society)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps systems</a></iframe></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

{% endblock %}
{% block footer %}

{% endblock %}
</body>
</html>
