{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="title-large">
  <h1>DCUfm</h1>
  <h3><i>At the heart of Dublin City University, we are DCUfm, the hub of student radio</i></h3>
</div>

{% include 'components/carousel.html' with images=dcufm_carousel %}

{% include 'components/about_section.html' with title="About DCUfm" names="FM Managers: Lauren & Eoin" %}

{% include 'components/managers.html' with title="Meet The FM Managers" subtitle="The team behind everything radio!" managers=fm_managers %}

{% include 'components/dcufm_twitch.html' with previous_show=previous_show current_show=current_show next_show=next_show %}

{% include 'components/dcufm_timetable.html' %}

{% include 'components/stats.html' with title="DCUfm Stats" subtitle="See our progress over the years!" animate_seconds=5 stats=stats_data %}

<div id="dcufm-subcommittee">
  <h1>Meet The FM Sub-Committee</h1>
  <div class="container">

    
    <div class="row justify-content-center">
      {% include 'components/committee_grid.html' with committee_members=dcufm_subcommittee %}
    </div>
  </div>
</div>
{% include "components/subgroup.html" with subgroups_data=subgroups_data %}

{% include 'components/family_tree.html' with title="DCUfm Station Manager Family Tree" subtitle="Check out all the members who have worked in DCUfm" family_tree=family_tree %}

{% endblock %}
{% block footer %}

{% endblock %}
</body>
</html>
