{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="title-large">
  <h1>DCUtv</h1>
  <h3><i>Home of the DCUtv 24 Hour Broadcast</i></h3>
</div>

{% include 'components/carousel.html' with images=dcutv_carousel %}


<div class="container">
  <h1>About DCUtv</h1>
  <div class="row justify-content-center">
    
    <div class="col-md-8 custom-box">
      
      <p>Welcome to DCUTV! We’re the home for all things film and video production in the Media Production Society. We do everything type of video from society-wide video productions, weekly videos on our DCUMPS YouTube channel and VLOGS!!!!
        <br><br>We have raised money for numerous charities throughout our years through our fundraising efforts, from the 24 hour Broadcast to our pub quiz nights.
        <br><br>Through weekly events we have managed to create a supportive community and a media family within DCU where people can come together and make the highest quality of student media in Ireland.
        <br><br>We’ve got the camera’s, you bring the inspiration!
        <br><br>National Bic Award for Promotional Video 2023
      </p>
      <h4 style="text-align: center;"><i>TV Managers: Sarah & Samuel</i></h4>
    </div>
  </div>
</div>

{% include 'components/managers.html' with title="Meet The TV Managers" subtitle="The team behind everything video!" managers=tv_managers %}

{% include 'components/home/broadcast.html' %}

{% include 'components/dcutv/recent_productions.html' with most_recent_videos=most_recent_videos %}

{% include 'components/stats.html' with title="DCUtv Stats" subtitle="See our progress over the years!" animate_seconds=5 stats=stats_data %}

<div class="container">
<h1>Check out our latest YouTube upload</h1>
<h5><i>You know you want to!</i></h5>
{% include 'components/youtube_video.html' with title="Latest MPS Video" latest_video_id=latest_video_id %}
</div>

<div class="container">
<h1>Check out our "Meet the Committee" video</h1>
<h5><i>Travel through time with DCUtv!</h5></i>
{% include 'components/youtube_video.html' with title="Meet the Committee" latest_video_id=committee_video_id %}
</div>

<div class="container">
<h1>TV Thursdays</h1>
<h5><i>Weekly videos filmed on DCU!</h5></i>
{% include 'components/youtube_video.html' with title="TV Thursday" latest_video_id=tv_thursday %}
</div>

{% endblock %}
{% block footer %}

{% endblock %}
</body>
</html>
