{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" type="text/css" href="static/css/gallery.css">
<input type="radio" name="Photos" id="check1" checked style="display: none;">
<input type="radio" name="Photos" id="check2" style="display: none;">
<input type="radio" name="Photos" id="check3" style="display: none;">
<input type="radio" name="Photos" id="check4" style="display: none;">
<input type="radio" name="Photos" id="check5" style="display: none;">

<div class="title-small">
  <h1>{{ gallery_page_info.page_title }}</h1>
  <h5><i>{{ gallery_page_info.page_subtitle }}</i></h5>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 custom-box">
    <label for="check1">All Photos</label>
    <label for="check2">2023-2024</label>
    <label for="check3">2022-2023</label>
    <label for="check4">2019-2020</label>
    <label for="check5">2006-2007</label>
  </div>
</div>
  <div class="photo-gallery custom-box shadow-lg p-3 mb-5 bg-body">
    <div class="pic p2023" >
      <a href="https://drive.google.com/drive/folders/1SnMHVEvgr9zSmZwecuiijTf6nHrr62n4?usp=sharing" target="_blank"><img src="static/gallery/2023/broadcast-march-28.jpeg" style="border-radius: 10px;"></a>
    </div>
    <div class="pic p2023">
      <a href="https://drive.google.com/drive/folders/1EMV6WljpHBITRdaL95EVYJBtO7puzWaH?usp=sharing" target="_blank"><img src="static/gallery/2023/pub-quiz-march-11.png" style="border-radius: 10px;"></a>
    </div>
    <div class="pic p2023">
      <a href="https://drive.google.com/drive/folders/1AW1owJAXVQwghvgv2W9-pBYsKCiZhSjm?usp=sharing" target="_blank"><img src="static/gallery/2023/cuddle.png" style="border-radius: 10px;"></a>
    </div>
    <div class="pic p2023">
      <a href="https://drive.google.com/drive/folders/1DXahOaPIvuKo2jAt9owGldRtb7lTJ1iR?usp=sharing" target="_blank"><img src="static/gallery/2023/drama-mps-feb-7.png" style="border-radius: 10px;"></a>
    </div>
    <div class="pic p2023">
      <a href="https://drive.google.com/drive/folders/1gyXex57FTla9JEZ_rIXF33qg-cVNfv5Y?usp=sharing" target="_blank"><img src="static/gallery/2023/VL.png" style="border-radius: 10px;"></a>
    </div>
    <div class="pic p2023">
      <a href="https://drive.google.com/drive/folders/1ckbkqzb5Wsib4KJiiJMtiobQvUPoClQx?usp=sharing" target="_blank"><img src="static/gallery/2023/PTB.png" style="border-radius: 10px;"></a>
    </div>
    <div class="pic p2023">
      <a href="https://drive.google.com/drive/folders/1sQu6dZPeSZ7XehYgW0LHoH5qZ3aJQBFv?usp=sharing" target="_blank"><img src="static/gallery/2023/THE 24 HOUR BROADCAST.png" style="border-radius: 10px;"></a>
    </div>
    <div class="pic p2023">
      <a href="https://drive.google.com/drive/folders/1czZENjqQXTWduv1DjmEKOyGm4jKa-dG8?usp=sharing" target="_blank"><img src="static/gallery/2023/pub-quiz-nov-15.png" style="border-radius: 10px;"></a>
    </div>
    <div class="pic p2023">
      <a href="https://drive.google.com/drive/folders/1-QH4CnnxjPAVpOz__vi2wuzhOXXidIKu?usp=sharing" target="_blank"><img src="static/gallery/2023/fnn-oct-18.png" style="border-radius: 10px;"></a>
    </div>
    <div class="pic p2023">
      <a href="https://drive.google.com/drive/folders/1-9q-pbqRZ1qTkG5o0k-4kFFSrM5kzASv?usp=sharing" target="_blank"><img src="static/gallery/2023/wavelength-oct-5.png" style="border-radius: 10px;"></a>
    </div>
    <div class="pic p2022">
      <a href="https://drive.google.com/drive/folders/1nfVrLGNt4clKaAqu4dKub-O0xaqhPota?usp=sharing" target="_blank"><img src="static/gallery/2022/Screenshot 2024-01-06 at 04-25-22 DCU Media Production Society (@dcumps) • Instagram photos and videos.png" style="border-radius: 10px;"></a>
    </div>
    <div class="pic p2022">
      <a href="https://drive.google.com/drive/folders/155WyGHxh3t8rsRit8XvxmQ_nrB7yeTZE?usp=sharing" target="_blank"><img src="static/gallery/2022/Screenshot 2024-01-13 at 02-44-01 DCU Media Production Society (@dcumps) • Instagram photos and videos.png" style="border-radius: 10px;"></a>
    </div>
    <div class="pic p2022">
      <a href="https://drive.google.com/drive/folders/1_hOZvFZP6XCOPUivU6Avx7CfhTwi1ObX?usp=sharing" target="_blank"><img src="static/gallery/2022/Screenshot 2024-01-13 at 02-44-37 DCU Media Production Society (@dcumps) • Instagram photos and videos.png" style="border-radius: 10px;"></a>
    </div>
    <div class="pic p2019">
      <a href="https://drive.google.com/drive/folders/1B_Zu1k5FMwDF02vqN8yqoB2CNjdU2dBU?usp=sharing" target="_blank"><img src="static/gallery/2019/broadcast-sonas-dec-6.png" style="border-radius: 10px;"></a>
    </div>
    <div class="pic p2006">
      <a href="https://drive.google.com/drive/folders/1lSXlfihQRHfJsrEWldgid7hSeiZci3W6?usp=sharing" target="_blank"><img src="static/gallery/2006/DSC00494.jpg" style="border-radius: 10px;"></a>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}

</body>
</html>
