{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="title-large">
  <h1>DCU Media Production Society</h1>
  <h3><i>DCU's Best Society 2023/24, Best Society Promotional Video 2024/25</i></h3>
</div>

<h3 style="font-size: 20px; padding: 10px; padding-top: 20px;"><i>DCU Media Production Society is home to DCUtv, DCUfm & The College View. We take pride in producing Ireland’s best student-media! Love Media? Love MPS!</i></h3>
{% include 'components/carousel.html' with images=homepage_carousel %}
{% include 'components/home/about_us.html' %}
{% include 'components/home/upcoming_events.html' with event_status=event_status row_1_display=row_1_display row_2_display=row_2_display event_1_image=event_1_image event_1_name=event_1_name event_1_start=event_1_start event_1_end=event_1_end event_1_location=event_1_location event_1_description=event_1_description event_2_image=event_2_image event_2_name=event_2_name event_2_start=event_2_start event_2_end=event_2_end event_2_location=event_2_location event_2_description=event_2_description %}
{% include 'components/home/broadcast.html' %}
<h1>Check out our latest video!</h1>
<h5><i>We know you'll love it!</h5></i>
{% include 'components/youtube_video.html' with title="Latest MPS Video" latest_video_id=latest_video_id %}
{% include "components/home/socials.html" %}
{% include "components/subgroup.html" with subgroups_data=subgroups_data %}
{% include 'components/stats.html' with title="Media Production Society In Numbers" subtitle="See how we've grown!" animate_seconds=5 stats=stats_data %}
{% include "components/home/why_join.html" %}
{% include 'components/home/what_our_members_say.html' %}
{% include 'components/home/awards_history.html' with homepage_awards=homepage_awards %}
{% include "components/home/sponsors.html" %}
{% include 'components/testimonials.html' %}
{% include 'components/dcufm_twitch.html' with previous_show=previous_show current_show=current_show next_show=next_show %}
{% include 'components/dcufm_timetable.html' %}
{% include 'components/tcv_info.html' with posts=posts %}

{% endblock %}
{% block footer %}

{% endblock %}
