{% load static %}

<!DOCTYPE html>
<html class="w-full h-full">

<head>
    <meta charset="utf-8" />
    <title>Swap Week | DCU MPS</title>

    <meta name="title" content="Swap Week | DCU MPS">
    <meta name="description" content="Happy Swap Week Baby!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dcumps.ie/">
    <meta property="og:title" content="Swap Week | DCU MPS">
    <meta property="og:description" content="Happy Swap Week Baby!">
    <meta property="og:image" content="https://i.imgur.com/F3F4rLN.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://dcumps.ie/">
    <meta property="twitter:title" content="Swap Week | DCU MPS">
    <meta property="twitter:description" content="Happy Swap Week Baby!">
    <meta property="twitter:image" content="https://i.imgur.com/F3F4rLN.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="icon" href="{% static 'swapweek/assets/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'swapweek/styles/style.css' %}" />
    <link rel="stylesheet" href="{% static 'swapweek/styles/title.css' %}" />
    <link rel="stylesheet" href="{% static 'swapweek/styles/dvd.css' %}" />
    <link rel="stylesheet" href="{% static 'swapweek/styles/spin.css' %}" />
    <link rel="stylesheet" href="{% static 'swapweek/styles/alarm.css' %}" />
    <link rel="stylesheet" href="{% static 'swapweek/styles/sus.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />


    <script defer data-domain="dcumps.ie" src="https://plausible.redbrick.dcu.ie/js/script.js"></script>
    <script src="{% static 'swapweek/scripts/spin.js' %}"></script>
    <script src="{% static 'swapweek/scripts/jukebox.js' %}"></script>
    <script src="{% static 'swapweek/scripts/sus.js' %}"></script>
</head>

<body class="overflow-hidden text-white">
    <div id="📀"></div>
    <div id="🦄" class="grid place-items-center h-screen">
        <div id="😵‍💫">
            <div class="🌀" style="--size: 500px">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="🌀" style="--size: 900px">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="🌀" style="--size: 1300px">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="🌀" style="--size: 1700px">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <h1 id="❤️" class="font-black select-none">DCU MPS</h1>
        <div id="🔪" class="hidden"></div>
    </div>
    <audio id="🎶" class="hidden"></audio>
</body>

</html>
