{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="title-large">
  <h1>The College View</h1>
  <h3><i>The platform of student news and student views in DCU since 1999. Powered by DCUMPS, the home of student media in DCU</i></h3>
</div>

<!--<div id="carousel-title-page" class="carousel slide" data-ride="carousel" style="margin-left: 10%; margin-right: 10%; margin-top: 2%;">
  <div class="carousel-inner" style="border-radius: 25px;">
    <div class="carousel-item active">
      <img src="static/assets/img/slideshow/dcufm/DSC_0027.JPG" class="d-block w-100 " alt="..." style="aspect-ratio: 16 / 9">
    </div>
    <div class="carousel-item">
      <img src="static/assets/img/slideshow/dcufm/DSC_0042.JPG" class="d-block w-100 " alt="..." style="aspect-ratio: 16 / 9">
    </div>
    <div class="carousel-item">
      <img src="static/assets/img/slideshow/dcufm/DSC_0053.JPG" class="d-block w-100"  alt="..." style="aspect-ratio: 16 / 9">
    </div>
    <div class="carousel-item">
      <img src="static/assets/img/slideshow/dcufm/DSC_0005.JPG" class="d-block w-100" alt="..." style="aspect-ratio: 16 / 9">
    </div>
    <div class="carousel-item">
      <img src="static/assets/img/slideshow/dcufm/DSC04721.JPG" class="d-block w-100" alt="..." style="aspect-ratio: 16 / 9">
    </div>
  </div>
  <div style="text-align:center; margin-bottom: 50px; z-index: 300;">
    <ol class="carousel-indicators">
      <li data-target="#carousel-title-page" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-title-page" data-slide-to="1"></li>
      <li data-target="#carousel-title-page" data-slide-to="2"></li>
      <li data-target="#carousel-title-page" data-slide-to="3"></li>
      <li data-target="#carousel-title-page" data-slide-to="4"></li>
    </ol>
  </div>
</div>-->


<div class="container">
  <h1>About The College View</h1>
  <div class="row justify-content-center">
    
    <div class="col-md-8 custom-box">
      
      <p>

        The College View is Dublin City University’s only student newspaper, independently run voluntarily by students affiliated to DCU’s Journalism Society. The newspaper was first published in 1999 after changing its name from The Bullsheet, its predecessor.
        <br><br>
        The College View has nine sections – News, Opinions, Features, Irish, Sports, Lifestyle, Satire, Science and Tech and our arts section, The Hype. These sections cover everything from DCU student issues to national student issues, humour and satire to life through the eyes of students, as well as extensive sports coverage and analysis. The Irish section is written and edited by students studying Journalism through Irish in DCU.
        <br><br>
        The College View is published fortnightly on Wednesday, with six issues per semester and is circulated among 12,000 students as well as DCU lecturers and staff.
      </p>
      <h4 style="text-align: center;"><i>The College View Editors: Katie & Leonor</i></h4>
      <div class="center-contents pt-3">
        <a class="btn btn-primary" style="background-color: #202E4E; border-radius: 25px; border-width: 4px; border-color: white;" href="https://thecollegeview.ie" target="_blank">Visit The College View Website</a>  
      </div>  
      </div>
    
  </div>
</div>

{% include 'components/managers.html' with title="Meet The College View Editors" subtitle="The team behind everything newspapers!" managers=editors %}


<!--% include 'components/stats.html' with title="The College View Stats" subtitle="See our progress over the years!" animate_seconds=5 stats=stats_data %}-->

{% include 'components/family_tree.html' with title="The College View Family Tree" subtitle="Check out all the editors who have worked for The College View over the years" family_tree=family_tree.members %}

{% include 'components/tcv_section.html' with title="The College View | News" subtitle="Check out the latest news articles!" section=news %}

{% include 'components/tcv_section.html' with title="The College View | Sports" subtitle="Check out the latest sports articles!" section=sport %}

{% include 'components/tcv_section.html' with title="The College View | Features" subtitle="Check out the latest features articles!" section=feat %}

{% include 'components/tcv_section.html' with title="The College View | Opinion" subtitle="Check out the latest opinion articles!" section=opinion %}

{% include 'components/tcv_section.html' with title="The College View | Lifestyle" subtitle="Check out the latest lifestyle articles!" section=lifestyle %}

{% include 'components/tcv_section.html' with title="The College View | Satire & Cartoons" subtitle="Check out the latest satire & cartoons articles!" section=satire %}

{% include 'components/tcv_section.html' with title="The College View | The Hype" subtitle="Check out the latest the hype articles!" section=hype %}

{% include 'components/tcv_section.html' with title="The College View | Irish & Languages" subtitle="Check out the latest Irish & languages articles!" section=irish %}

{% endblock %}
{% block footer %}

{% endblock %}
</body>
</html>
