#😵‍💫 {
    display: grid;
    place-items: center;
}

.🌀 {
    position: absolute;
    width: var(--size);
    height: var(--size);
}

.🌀:nth-child(odd)
{
    animation: 🌀 infinite linear 8s;
}

.🌀:nth-child(even)
{
    animation: 🌀 infinite linear 8s reverse;
}

.🌀 div {
    opacity: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin: calc(-150px / 2);
    border-radius: 30%;
    background: url('../assets/MPS_Icon_NAVY.png') no-repeat center;
    background-size: contain;
    filter: grayscale();
    z-index: -1;
}

@keyframes 🌀 {
    from {
        transform: rotate(0);
    } to {
        transform: rotate(360deg);
    }
}
