{% extends 'base.html' %}
{% block content %}

<div class="title-text">
  <h1 id="title-text" style="margin-top: 70px; margin-bottom: 30px;">MPS Blog</h1>
</div>
  <h5><i>Keep yourself up-to-date with everything happening in MPS!</h5></i>

  <section class="py-5" style="background-color: #202E4E;">
    <div class="container px-4 px-lg-5 mt-5" style="background-color: #9791FF; padding: 20px; border-radius: 25px;">
        <h2 class="fw-bolder mb-4" style="color: white;">Most Recent Blogs</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100" style="background-color: #202E4E;">
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/merch/Screenshot 2024-01-12 at 17-58-17 DCUfm (@dcufm) • Instagram photos and videos.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">MPS Crew Neck</h5>
                            <!-- Product price-->
                            €40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#" style="background-color: #9791FF;">Buy Now!</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100" style="background-color: #202E4E;">
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/merch/Screenshot 2024-01-12 at 17-58-27 DCUfm (@dcufm) • Instagram photos and videos.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">MPS Crew Neck</h5>
                            €40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#" style="background-color: #9791FF;">Buy Now!</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100" style="background-color: #202E4E;">
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/merch/Screenshot 2024-01-12 at 17-58-31 DCUfm (@dcufm) • Instagram photos and videos.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">MPS Crew Neck</h5>
                            €40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#" style="background-color: #9791FF;">Buy Now!</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100" style="background-color: #202E4E;">
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/merch/Screenshot 2024-01-12 at 17-58-36 DCUfm (@dcufm) • Instagram photos and videos.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">MPS Crew Neck</h5>
                            <!-- Product price-->
                            €40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#" style="background-color: #9791FF;">Buy Now!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block footer %}

{% endblock %}
</body>
</html>
