{% extends 'base.html' %}
{% block content %}
<style>
  a:hover {
  color: #FFE085;
}
.submitbutton input[type="submit"] {
    color: black;
  }
</style>
<div class="title-text">
  <h1 id="title-text" style="margin-top: 70px; margin-bottom: 30px;">Contact DCU MPS</h1>
</div>

<h5 style="margin-bottom: 40px;"><i>Fill in the form below or email us at <a href="mailto:committee@dcumps.ie">committee@dcumps.ie</a></h5></i>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 custom-box">
      <div class="center-contents">
            <div class="content">
              <form 
                action="https://formspree.io/f/mvoezdjg" 
                method="POST"
                >
                  <p>
                      <label for="contact-name">Name</label>
                      <br> </br>
                      <input id="contact-name" type="text" name="contact-name"/>
                  </p>
                  <p>
                      <label for="contact-email">Email Address</label>
                      <br> </br>
                      <input id="contact-email" type="email" name="email"/> </p>
                  <p>
                      <label for="contact-message">Message</label>
                      <br> </br>
                      <textarea id="contact-message" name="message" rows="5"> </textarea>
                  </p>
                  <p>
                    <div class="submitbutton">
                      <input type="submit" value="Send Message"/> </p>
                    </div>
              </form>
          </div>
    </div>
  </div>
</div>
</div>
</div>

{% endblock %}
{% block footer %}

{% endblock %}
</body>
</html>
