{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="title-text2">
  <h1 style="font-size: 60px; margin-bottom: 50px; padding-top: 80px;"><b>DCUfm</b></h1>
</div>
<h3 style="font-size: 20px; padding: 20px;"><i>At the heart of Dublin City University, we are DCUfm, the hub of student radio</i></h3>
  <div id="carousel-title-page" class="carousel slide" data-ride="carousel" style="margin-left: 10%; margin-right: 10%; margin-top: 2%;">
    <div class="carousel-inner" style="border-radius: 25px;">
      <div class="carousel-item active">
        <img src="static/assets/img/slideshow/dcufm/DSC_0027.JPG" class="d-block w-100 " alt="..." style="aspect-ratio: 16 / 9">
      </div>
      <div class="carousel-item">
        <img src="static/assets/img/slideshow/dcufm/DSC_0042.JPG" class="d-block w-100 " alt="..." style="aspect-ratio: 16 / 9">
      </div>
      <div class="carousel-item">
        <img src="static/assets/img/slideshow/dcufm/DSC_0053.JPG" class="d-block w-100"  alt="..." style="aspect-ratio: 16 / 9">
      </div>
      <div class="carousel-item">
        <img src="static/assets/img/slideshow/dcufm/DSC_0005.JPG" class="d-block w-100" alt="..." style="aspect-ratio: 16 / 9">
      </div>
      <div class="carousel-item">
        <img src="static/assets/img/slideshow/dcufm/DSC04721.JPG" class="d-block w-100" alt="..." style="aspect-ratio: 16 / 9">
      </div>
    </div>
    <div style="text-align:center; margin-bottom: 50px; z-index: 300;">
      <ol class="carousel-indicators">
        <li data-target="#carousel-title-page" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-title-page" data-slide-to="1"></li>
        <li data-target="#carousel-title-page" data-slide-to="2"></li>
        <li data-target="#carousel-title-page" data-slide-to="3"></li>
        <li data-target="#carousel-title-page" data-slide-to="4"></li>
      </ol>
    </div>
  </div>


  <div class="container">
    <h1>About DCUfm</h1>
    <h5><i>An introduction from our FM Managers Caoimhe & Matthew</h5></i>
  <div class="row justify-content-center">

    <div class="col-md-8 custom-box">
          
          <p>DCUfm is The Media Production Society's award-winning radio station. We’re one of the longest-running student radio stations in Ireland. We livestream on Twitch from 9am - 8pm, Monday to Friday, every week during both semesters. We have a diverse range of programs covering music, drama, sports, news, the Irish language and so much more. Whatever you’re into, we’ve got something for you! 
            
            <br><br>We’re a proud advocate of independent student radio. Our shows are 100% produced and presented by students.
            Every year, DCUfm takes in up to 150 new members. If you want to be a host but don’t know where to start, don’t worry! We’ll pair you up with other newcomers that have similar interests so you can have a show of your own. 
            
            <br><br>We provide you with all the training, guidance and support you’ll need in radio production and presentation. 
            We also loan podcasting equipment to our members. This allows you to continue your audio and podcasting pursuits outside of the studio. Additionally, we support the work of charitable organisations. 
            
            <br><br>The 12 Hour Broadcast in DCUfm’s biggest event of the year. Constant content for twelve hours straight all in order to raise as much money as possible for the charity we’re working with. Make sure to follow @dcufm on Instagram to stay up-to-date.
            DCUfm, the hub of student radio!
            </p>
            <h4 style="text-align: center;"><i>FM Managers: Caoimhe & Matthew</i></h4>
    </div>
  </div>
  </div>
</div>
<div id="dcufm-12hour">
  <div class="container">
    <h1>The 12-Hour Broadcast</h1>
    <h5><i>DCUfm's biggest event of the year!</h5></i>
    <div class="row justify-content-center" style="text-align: center;">
  
      <div class="col-md-12 custom-box">
        
        <!--<img src="static/assets/fm/aware_logo.png" alt="12 Hour Broadcast" style="width: 30%;" />-->
        <div id="12hour-description" style="background-color: #202E4E; border-radius: 15px; padding:20px; margin-left: 70px; margin-right: 70px;">
          <p style="margin-bottom: 10px;">IT’S THE 12 HOUR BROADCAST!! 💛
            <br>
            Get your mics on, your headphones in and get ready to go live!!
            <br>
            This year DCUfm’s 12 hour broadcast is all in aid of @awareireland
            <br>
            Aware Ireland is a national organisation providing free support, education and information services to people impacted by anxiety, depression, bipolar disorder and related mood conditions.
            <br>
            Mental health and wellbeing is something that is so so important to everyone here at DCUfm, we really want to raise awareness and work on destigmatising the battles that so many people fight in their head every day as well as raise as much money as we can for such a great charity!! 🌅💛
            <br>
            See you all there on March 28th from 9am-9pm… show forms out soon 😏
          </p>
        </div>
        <h2 id="fm-countdown" style="padding-top: 20px;"></h2>
        <div class="center-contents" > <!--style="padding-bottom: 500px;"-->
          <div class="container mt-4">
            <div class="row">
              <div class="col-md-4">
                <div class="other-member" style="background-color: #202E4E; border-radius: 15px; padding:20px">
                  <img src="{% static 'assets/fm/12HR_1.jpeg' %}" alt="12 Hour Broadcast" style="width: 100%;" />
                </div>
              </div>
            <div class="col-md-4">
              <div class="other-member" style="background-color: #202E4E; border-radius: 15px; padding:20px">
                <img src="{% static 'donation_thermometer.png' %}" alt="12 Hour Broadcast" style="width: 68%;" />
              </div>
            </div>
            <div class="col-md-4">
        <div class="other-member" style="background-color: #202E4E; border-radius: 15px; padding:20px">
          <img src="{% static 'assets/fm/12HR_2.jpeg' %}" alt="12 Hour Broadcast" style="width: 100%;" />
        </div>
    
      </div>
      
      </div>
      <a class="btn btn-primary" style="background-color: #202E4E; border-radius: 25px; border-width: 4px; border-color: #FFE085;" href="{% url 'donate' %}">Donate to Aware</a>
      <br>
      <br>
      <a class="btn btn-primary" style="background-color: #202E4E; border-radius: 25px; border-width: 4px; border-color: #FFE085;" href="https://docs.google.com/forms/d/e/1FAIpQLSdXKYyyhk-zhEBYjZwGLRU98BQi1zK6_wy_Hgf671xGUauwkg/viewform">Show Forms</a>    
      </div>
      </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
<div class="container">
  <h1 class="text-center">Meet The FM Managers</h1>
  <h5 class="text-center"><i>The team behind everything radio!</i></h5>
  <div class="row justify-content-center">
    
    <div class="col-md-4 custom-box">
      <div class="committee-member text-center" style="background-color: #202E4E; border-radius: 15px;">
        <img src="static/assets/fm/CW.png" width="300px" height="300px" alt="FM Manager" style="border-radius: 50%; padding-top: 25px;">
        <h3>Caoimhe Woods</h3>
        <div class="social-icons" style="padding-bottom: 15px;">
          <ul>
            <li><a href="https://www.instagram.com/caoimhewoodss/" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/caoimhe-woods-22ba9b262/" target="_blank"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="mailto:fm@dcumps.ie" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 custom-box">
      <div class="committee-member text-center" style="background-color: #202E4E; border-radius: 15px;">
        <img src="static/assets/fm/MW.png" width="300px" height="300px" alt="FM Manager" style="border-radius: 50%; padding-top: 25px;">
        <h3>Matthew Willis</h3>
        <div class="social-icons" style="padding-bottom: 15px;">
          <ul>
            <li><a href="https://instagram.com/matt_double.u?igshid=MTI4MHhtcHVjcTkwbg==" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/matthew-willis-64a9712a1?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="mailto:fm@dcumps.ie" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="dcufm">
  <div class="container">
    <h1>Tune In</h1>
    <h5><i>Check out our Twitch stream weekdays from 9AM - 8PM!</h5></i>
    <div class="row justify-content-center" style="text-align: center;">
  
      <div class="col-md-12 custom-box">
        <div id="twitch-embed"></div>
        <div class="center-contents" > <!--style="padding-bottom: 500px;"-->
          <div class="container mt-4">
            <div class="row">
              <div class="col-md-4">
                <div class="committee-member" style="background-color: #202E4E; border-radius: 15px; padding:20px">
                  <p><strong>Previous Show</strong></p>
                  <p id="fm-time-previous">{{ previous_show }}</p>
                </div>
              </div>
            <div class="col-md-4">
              <div class="committee-member" style="background-color: #202E4E; border-radius: 15px; padding:20px">
                <p></strong>Live Now</strong></p>
                <p id="fm-time-current">{{ current_show }}</p>
              </div>
            </div>
            <div class="col-md-4">
        <div class="committee-member" style="background-color: #202E4E; border-radius: 15px; padding:20px">
          <p></strong>Next Show</strong></p>
          <p id="fm-time-next">{{ next_show }}</p>
        </div>
    
      </div>
      
      </div>
      <a class="btn btn-primary" data-toggle="modal" data-target="#fmtimetable" style="background-color: #202E4E; border-radius: 25px; border-width: 4px; border-color: white;" href="http://instagram.com/dcufm">View FM Timetable</a>  
      </div>
      </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
     <!-- modal -->
     <div class="modal fade" id="fmtimetable" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" >
      <div class="modal-dialog modal-lg" >
        <div class="modal-content" style="background-color: #202E4E;">
          <div class="modal-body">
             <!-- carousel -->
            <div
                 id='carouselExampleIndicators'
                 class='carousel slide'
                 data-ride='carousel'
                 
                 >
              <div class='carousel-inner'>
                <div class='carousel-item active'>
                  <img class='img-size' src='static/assets/fm/timetable/1.png' alt='FM Timetable' style="width: 100%;" />
                </div>
                <div class='carousel-item'>
                  <img class='img-size' src='static/assets/fm/timetable/2.png' alt='FM Timetable' style="width: 100%;"/>
                </div>
                <div class='carousel-item'>
                  <img class='img-size' src='static/assets/fm/timetable/3.png' alt='FM Timetable' style="width: 100%;" />
                </div>
                <div class='carousel-item'>
                  <img class='img-size' src='static/assets/fm/timetable/4.png' alt='FM Timetable' style="width: 100%;"/>
                </div>
                <div class='carousel-item'>
                  <img class='img-size' src='static/assets/fm/timetable/5.png' alt='FM Timetable' style="width: 100%;"/>
                </div>
              </div>
              <a
                 class='carousel-control-prev'
                 href='#carouselExampleIndicators'
                 role='button'
                 data-slide='prev'
                 >
                <span class='carousel-control-prev-icon'
                      aria-hidden='true'
                      ></span>
                <span class='sr-only'>Previous</span>
              </a>
              <a
                 class='carousel-control-next'
                 href='#carouselExampleIndicators'
                 role='button'
                 data-slide='next'
                 >
                <span
                      class='carousel-control-next-icon'
                      aria-hidden='true'
                      ></span>
                <span class='sr-only'>Next</span>
              </a>
            </div>
          </div>
          <div class="modal-footer" style="background-color: #9791FF;">
            <button type="button" class="btn btn-default" data-dismiss="modal" style="color: #ffffff; border-radius: 10px; background-color:  #202E4E;">Close</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="container">
      <h1>DCUfm Stats</h1>
      <h5><i>See our progress over the years!</h5></i>
      </div>
      <div class="container py-3 py-xl-5">
        <div class="custom-box" style="align-items: center;">
        <div class="row gy-3 row-cols-1 row-cols-md-3"  style="color: white;">
      
            <div class="col">
                <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                    <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg">
                      <i class="fa-solid fa-hand-holding-heart" style="font-size: 70px;"></i>
                    </div>
                    <div class="px-3">
                        <h2 class="fw-bold tada animated mb-0">€1,570</h2>
                        <p class="mb-0">Raised for CRY Ireland during the 12 Hour Broadcast in 2023</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                    <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg">
                      <i class="fa-brands fa-twitch" style="font-size: 70px;"></i>
                    </div>
                    <div class="px-3">
                        <h2 class="fw-bold tada animated mb-0">1125</h2>
                        <p class="mb-0">Followers on the DCUfm <a href="https://twitch.tv/dcufm" target="_blank">Twitch Channel</a></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                    <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg">
                      <i class="fa-solid fa-hand-holding-heart" style="font-size: 70px;"></i>
                    </div>
                    <div class="px-3">
                        <h2 class="fw-bold tada animated mb-0">€2,658</h2>
                        <p class="mb-0">Raised for ALONE during the 12 Hour Broadcast in 2022</p>
                    </div>
                </div>
            </div>
            
            </div>
        </div>
      </div>
      </div>
      </div>
      <div id="dcufm-subcommittee">
        <div class="container">
          <h1>Meet The FM Sub-Committee</h1>
          <div class="row justify-content-center" style="text-align: center;">
        
            <div class="col-md-12 custom-box">
              <div class="center-contents" > <!--style="padding-bottom: 500px;"-->
                <div class="container mt-4">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="committee-member" style="background-color: #202E4E; border-radius: 15px; padding:20px">
                        <img src="{% static 'assets/fm/SA.png' %}" alt="FM Sub-Committee" />
                        <h3>Sophie Alexander</h3>
                        <h5><i>Events Manager</i></h5>
                      </div>
                    </div>
                  <div class="col-md-4">
                    <div class="committee-member" style="background-color: #202E4E; border-radius: 15px; padding:20px">
                      <img src="{% static 'assets/fm/AN.png' %}" alt="FM Sub-Committee"/>
                      <h3>Abbie Nolan</h3>
                      <h5><i>Flagship Captain</i></h5>
                    </div>
                  </div>  
            </div>
            </div>
            </div>
              </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
      <div class="container">
        <h1>Our Flagships</h1>
        <h5><i>Get to know our flagship fm shows!</h5></i>
          <div class="row justify-content-center">
            <div class="col-md-12 custom-box">
              <div class="center-contents">
                <div class="container mt-4">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="committee-member" style="background-color: #202E4E; border-radius: 15px; padding-top: 20px;">
                        <img src="static/assets/fm/flagships/AR.png" width="300px" height="300px" alt="DCUfm Flagship" style="border-radius: 50%;">
                        <h3>Action Replay</h3>
                        <h5 style="padding-left: 10px; padding-right: 10px;"><i>Sports Flagship</i></h5>
                        <h6 style="padding-left: 10px; padding-right: 10px;"><i>Thursdays @ 1PM</i></h6>
                        <div class="social-icons" style="padding-bottom: 15px;">
                          <ul>
                            <li><a href="https://www.instagram.com/actionreplayfm/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  <div class="col-md-4">
                    <div class="committee-member" style="background-color: #202E4E; border-radius: 15px; padding-top: 20px;">
                      <img src="static/assets/fm/flagships/LL.png" width="300px" height="300px" alt="DCUfm Flagship" style="border-radius: 50%;">
                      <h3>Limelight</h3>
                      <h5 style="padding-left: 10px; padding-right: 10px;"><i>Pop-culture Flagship</i></h5>
                      <h6 style="padding-left: 10px; padding-right: 10px;"><i>Mondays @ 11AM</i></h6>
                      <div class="social-icons" style="padding-bottom: 15px;">
                        <ul>
                          <li><a href="https://www.instagram.com/limelightdcu/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
              <div class="committee-member" style="background-color: #202E4E; border-radius: 15px; padding-top: 20px;">
                <img src="static/assets/fm/flagships/NW.png" width="300px" height="300px" alt="DCUfm Flagship" style="border-radius: 50%;">
                <h3>Newswire</h3>
                <h5 style="padding-left: 10px; padding-right: 10px;"><i>News Flagship</i></h5>
                <h6 style="padding-left: 10px; padding-right: 10px;"><i>Fridays @ 2PM</i></h6>
                <div class="social-icons" style="padding-bottom: 15px;">
                  <ul>
                    <li><a href="https://www.instagram.com/newswiredcu/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
      <div id="dcufm-history">
        <div class="container">
          <h1>DCUfm Station Family Tree</h1>
          <h5><i>Check out all the members who have worked in DCUfm</h5></i>
          <div class="row justify-content-center" style="text-align: center;">
            <div class="col-md-12 custom-box">
              <div class="center-contents" > <!--style="padding-bottom: 500px;"-->
                <div class="container mt-4">
                  <div class="row">
                    {% for member in family_tree %}
                    <div class="col-md-4">
                      <div class="committee-member" style="background-color: #202E4E; border-radius: 15px; padding:10px">
                        <p><strong>{{ member.year }}</strong></p>
                        <p></p>{{ member.name }}</p>
                      </div>
                    </div>
                    {% endfor %}
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
  {% endblock %}
  {% block footer %}
  
  {% endblock %}
</body>
</html>
