<div class="container">
  <h1>About Us</h1>
  <div class="row justify-content-center">
    
    <div class="col-md-12 custom-box shadow-lg p-3 mb-5 bg-body">
      <div class="row">
        <div class="col-md-6">
          
          <p>DCU’s Media Production Society was founded in 1985, with the aim of operating as a creative and social outlet to a broad variety of students within the university. Composed of three strands, MPS offers the opportunity for its members to gain practical experience in their chosen field of media and collaborate with other, like-minded creatives. Over our 39 years of experience, MPS has thrived across the board, winning a variety of awards at both a University and a National level.<br><br> 
            DCUtv offers members the opportunity to fully immerse themselves in the world of visual media. DCUtv not only encourages all MPS members to create video content, but also to gain hands-on experience in the more technical aspects of video production. Through annual events run by our TV team, such as the DCUtv 24 hour broadcast, MPS offers the chance to our members to come together and create, catering to all experience levels and interests, both in front of and behind the camera. In 2023, our DCUtv Team won “Best Promotional Video” at the BICS, which are the National Society Awards.
          </p>
        </div>
        <div class="col-md-6">
          <img src="static/assets/img/other/MPS_Logo_WHT.png" alt="MPS Logo" class="img-container" width="450px" style="border-radius: 25px; padding-top: 5px;">
        </div>
        <div class="col-md-12"> <!-- style="background-color: #202E4E; padding: 10px; border-radius: 25px;"-->
          <p>DCUfm is Ireland’s Best Student Radio Station. DCUfm is run by our members and their wonderful ideas - you give us your concept and we show you how to take it on air. Additionally, our fantastic podcasting equipment allows members to continue their audio endeavours outside of the studio. DCUfm instils a profound love for audio creation in all of its members, with many of the station’s alumni currently working in stations such as Spin 103.8, Newstalk and FM104.<br><br>  
            The College View is DCU’s student newspaper. TCV offers members a way to enhance their writing skills and explore different types of journalism - from hard news to wacky satire, from the latest sports scores to reviewing what’s in the cinema. Stories are published online on www.thecollegeview.ie. There’s opportunities to attend and cover events across campus and outside DCU - with the Editorial Team always looking for writers to give their own edge on what’s going on in the University.<br><br> 
            After 39 years, thousands of members, (and not to mention a global pandemic), MPS continues to grow in numbers and talent year on year. This year, our passionate and dedicated Committee aims to see MPS succeed and function at the highest possible level, with weekly events, workshops and activities for all of our members. MPS seeks to present exciting opportunities to our members, both creatively and socially, and foster the immense potential within DCU students. We hope to continue to do so as we move forward in years to come. 
          </p>
        </div>
      </div>
      <div class="center-contents">
        <a class="btn btn-primary mt-4" style="background-color: #202E4E; border-radius: 25px; border-width: 4px; border-color: white;" href="https://dcuclubsandsocs.ie/society/media-production" target="_blank">What are you waiting for? Join MPS Now!</a>  
      </div>
      <div class="center-contents mt-4">
        <a class="btn btn-primary" style="background-color: #202E4E; border-radius: 25px; border-width: 4px; border-color: white;" href="/committee/history">View Committee History</a>  
      </div>
    </div>
    
  </div>
</div>