<div class="container">
  <h1>Follow Our Socials!</h1>
  <h5><i>Keep updated with all things MPS!</h5></i>
  <div class="row justify-content-center">
    <div class="col-md-7 custom-box" style="text-align: center;">
      <div class="social-icons" >
        <ul style="background-color: #202E4E; border-radius: 16px;" class="pb-4">
          <li><a href="https://chat.whatsapp.com/EBupVbTpWX01uJvBp5r24D" target="_blank" aria-label="DCU MPS WhatsApp Group"><i class="fa-brands fa-whatsapp hvr-bounce-in"></i></a></li>
          <li><a href="http://youtube.com/dcumps" target="_blank" aria-label="DCU MPS YouTube Channel"><i class="fa-brands fa-youtube hvr-bounce-in"></i></a></li>
          <li><a href="https://www.tiktok.com/@dcumps" target="_blank" aria-label="DCU MPS TikTok"><i class="fa-brands fa-tiktok hvr-bounce-in"></i></a></li>
          <li><a href="http://instagram.com/dcumps" target="_blank" aria-label="DCU MPS Instagram"><i class="fa-brands fa-instagram hvr-bounce-in"></i></a></li>
          <li><a href="http://facebook.com/dcumps" target="_blank" aria-label="DCU MPS Facebook"><i class="fa-brands fa-facebook hvr-bounce-in"></i></a></li>
          <li><a href="http://twitter.com/dcumps" target="_blank" aria-label="DCU MPS Twitter"><i class="fa-brands fa-x-twitter hvr-bounce-in"></i></a></li>
          <li><a href="https://www.linkedin.com/company/dcu-media-production-society" target="_blank" aria-label="DCU MPS LinkedIn"><i class="fa-brands fa-linkedin hvr-bounce-in"></i></a></li>
          <li><a href="mailto:committee@dcumps.ie" target="_blank" aria-label="DCU MPS Email"><i class="fa fa-envelope hvr-bounce-in" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="social-description">
          <li><u><a href="https://dcuclubsandsocs.ie/society/media-production" target="_blank">Become a member of MPS today</a></u></li>
          <li><u><a href="https://thecollegeview.ie" target="_blank">The College View - Our Online Newspaper</a></u></li>
          <li><u><a href="https://lounge.live/lounges/kr53i9b6" target="_blank">Lounge - A hub for all of our events</a></u></li>
          <li><u><a href="/links">View All DCU MPS Links</a></u></li>
          <li><u><a href="/linksdcutv">View All DCUtv Links</a></u></li>
          <li><u><a href="/linksdcufm">View All DCUfm Links</a></u></li>
          <li><u><a href="/linkstcv">View All The College View Links</a></u></li>
          <li><u><a href="/linksthedev">View All The Dev Links</a></u></li>
      </div>
    </div>
  </div>
</div>