<div class="container">
  <h1>Our Sponsors</h1>
  <h5><i>Check out the amazing companies that have helped our journey! <br>If you are interested in sponsoring us, please contact <a href="mailto:sponsorship@dcumps.ie">sponsorship@dcumps.ie</a></h5></i>
  <div class="row justify-content-center" style="padding-left: 15px; padding-right: 15px;">
    <div class="col-md-12 custom-box shadow-lg bg-body">
          <div class="logos">
            <div class="logos-slide">
                  <img src="static/images/sponsors/image1.png" alt="MPS Sponsor 1">
                  <img src="static/images/sponsors/image2.png" alt="MPS Sponsor 2">
                  <img src="static/images/sponsors/image3.png" alt="MPS Sponsor 3">
                  <img src="static/images/sponsors/image4.png" alt="MPS Sponsor 4">
                  <img src="static/images/sponsors/image5.png" alt="MPS Sponsor 5">
                  <img src="static/images/sponsors/image6.png" alt="MPS Sponsor 6">
                  <img src="static/images/sponsors/image7.png" alt="MPS Sponsor 7">
                  <img src="static/images/sponsors/image8.png" alt="MPS Sponsor 8">
                  <img src="static/images/sponsors/image9.png" alt="MPS Sponsor 9">
                  <img src="static/images/sponsors/image10.png" alt="MPS Sponsor 10">
                  <img src="static/images/sponsors/image11.png" alt="MPS Sponsor 11">
                  <img src="static/images/sponsors/image12.png" alt="MPS Sponsor 12">
                  <img src="static/images/sponsors/image13.png" alt="MPS Sponsor 13">
                  <img src="static/images/sponsors/image14.png" alt="MPS Sponsor 14">
                  <img src="static/images/sponsors/image15.jpg" alt="MPS Sponsor 15">
                  <img src="static/images/sponsors/image16.png" alt="MPS Sponsor 16">
                  <img src="static/images/sponsors/image17.png" alt="MPS Sponsor 17">
                  <img src="static/images/sponsors/image18.png" alt="MPS Sponsor 18">
                </div>
                <script>
                  var copy = document.querySelector(".logos-slide").cloneNode(true);
                  document.querySelector(".logos").appendChild(copy);
                </script>
              </div>
            </div>
      </div>
  </div>
</div>