<div class="container">
  <h1>Upcoming Events</h1>
  <h5><i>You won't want to miss them!</i></h5>
  <div class="row justify-content-center">
    <div class="col-md-12 custom-box shadow-lg p-3 mb-5 bg-body">
      {% if events.events.items|length == 0 %}
      <h3 style="justify-content: center; padding-top: 10px;">No events at the
        moment, check back later!</h3>
      {% else %}
      <div class="container mt-4">
        <div class="row">

          {% for event_key, event in events.events.items %}
          <div class="col-md-4">
            <div class="committee-member"
              style="border-radius: 25px; padding-top: 20px; padding-bottom: 20px; background-color: #202E4E;">
              <img src="{{ event.image }}" alt="Event Image" width="300px"
                height="300px">
              <h3>{{ event.name }}</h3>
              <h5><strong>Starts:</strong> {{ event.start }}</h5>
              <h5><strong>Ends:</strong> {{ event.end }}</h5>
              <h5><strong>Location:</strong> <a href="{{ event.location }}"
                  target="_blank">Join Here</a></h5>
              <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#moreInfoModal_{{ forloop.counter }}"
                style="background-color: #9791FF;">
                Description
              </button>
              <a href="https://dcuclubsandsocs.ie/society/media-production#events" target="_blank"><button type="button" class="btn btn-primary"
              style="background-color: #9791FF;">
              View Event
            </button></a>

              <div class="modal fade" id="moreInfoModal_{{ forloop.counter }}"
                tabindex="-1" role="dialog"
                aria-labelledby="moreInfoModalLabel_{{ forloop.counter }}"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content" style="background-color: #202E4E;">
                    <div class="modal-header"
                      style="background-color: #9791FF;">
                      <h5 class="modal-title"
                        id="moreInfoModalLabel_{{ forloop.counter }}"
                        style="color: white;"><strong>Event
                          Description:</strong></h5>
                      <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p style="color: white;">{{ event.description|safe }}</p>
                    </div>
                    <div class="modal-footer"
                      style="background-color: #9791FF;">
                      <button type="button" class="btn btn-secondary"
                        data-dismiss="modal"
                        style="color: #ffffff; border-radius: 10px; background-color:  #202E4E;">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
