<h1>Why you should Join MPS</h1>
<h5><i>There's much more than this but here's some reasons!</h5></i>
<div class="container">

  
  <div class="row justify-content-center">
    <div class="col-md-12 custom-box shadow-lg bg-body">
      
      <div class="row gy-4 row-cols-1 row-cols-md-2 mx-1 py-2">
        <div class="col" style="padding-top: 15px;">
          <div class="hvr-grow d-flex flex-column flex-lg-row shadow-lg bg-body" style="background-color: #202E4E; border-radius: 15px; padding-top: 10px; padding-bottom: 10px;"> 
            
            <div class="py-4 py-lg-0 px-lg-4">
              <h4 style="font-size: 30px; font-weight: bold; padding-left: 10px; padding-right: 10px;">Amazing Events</h4>
              <p style="padding-left: 10px; padding-right: 10px;">Wet your appetite with the wide range of our weekly events ranging from TV workshops all the way to FM Mixers with some College View events sprinkled in for good measure. Can’t forget about our 24hr DCUtv broadcast or our 12hr FM broadcast either!</p>
            </div>
          </div>
        </div>
        <div class="col" style="padding-top: 15px;">
          <div class="hvr-grow d-flex flex-column shadow-lg bg-body" style="background-color: #202E4E; border-radius: 15px; padding-top: 10px; padding-bottom: 10px;"> 
            <div class="py-4 py-lg-0 px-lg-4">
              <h4 style="font-size: 30px; font-weight: bold; padding-left: 10px; padding-right: 10px;">Unparalleled Opportunities</h4>
              <p style="padding-left: 10px; padding-right: 10px; ">Whether you see yourself in front of a radio mic in the FM Studio, behind a camera on a TV shoot or writing an article for the College View and everything in between, MPS is the place for you!</p>
              <br>
            </div>
          </div>
        </div>
        <div class="col" style="padding-top: 15px;">
          <div class="hvr-grow d-flex flex-column shadow-lg bg-body" style="background-color: #202E4E; border-radius: 15px; padding-top: 10px; padding-bottom: 10px;"> 
            <div class="py-4 py-lg-0 px-lg-4">
              <h4 style="font-size: 30px; font-weight: bold; padding-left: 10px; padding-right: 10px;">Friendly Faces</h4>
              <p style="padding-left: 10px; padding-right: 10px;">MPS prides itself on being full with approachable members who are always there for each other, both when it comes to society life but also college in general. You’re guaranteed to make friends for life in MPS!</p>
            </div>
          </div>
        </div>
        <div class="col" style="padding-top: 15px;">
          <div class="hvr-grow d-flex flex-column shadow-lg bg-body" style="background-color: #202E4E; border-radius: 15px; padding-top: 10px; padding-bottom: 10px;"> 
            <div class="py-4 py-lg-0 px-lg-4">
                <h4 style="font-size: 30px; font-weight: bold; padding-left: 10px; padding-right: 10px;">It's Cool</h4>
                <p style="padding-left: 10px; padding-right: 10px;">Don’t believe us! Join and find out for yourself!!!</p>
                <br>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
        <div class="center-contents">
          <a class="btn btn-primary mt-4" style="background-color: #202E4E; border-radius: 25px; border-width: 4px; border-color: white;" href="https://dcuclubsandsocs.ie/society/media-production" target="_blank">Join MPS Today</a>  
        </div>
        </div>
      
    </div>
    
  </div>
</div>