<div class="container">
  <h1>{{ title }}</h1>
  <div class="row justify-content-center">
    
    <div class="col-md-8 custom-box">
      
      <p>DCUfm is The Media Production Society's award-winning radio station. We’re one of the longest-running student radio stations in Ireland. We livestream on Twitch from 9am - 8pm, Monday to Friday, every week during both semesters. We have a diverse range of programs covering music, drama, sports, news, the Irish language and so much more. Whatever you’re into, we’ve got something for you! 
        
        <br><br>We’re a proud advocate of independent student radio. Our shows are 100% produced and presented by students.
        Every year, DCUfm takes in up to 150 new members. If you want to be a host but don’t know where to start, don’t worry! We’ll pair you up with other newcomers that have similar interests so you can have a show of your own. 
        
        <br><br>We provide you with all the training, guidance and support you’ll need in radio production and presentation. 
        We also loan podcasting equipment to our members. This allows you to continue your audio and podcasting pursuits outside of the studio. Additionally, we support the work of charitable organisations. 
        
        <br><br>The 12 Hour Broadcast in DCUfm’s biggest event of the year. Constant content for twelve hours straight all in order to raise as much money as possible for the charity we’re working with. Make sure to follow @dcufm on Instagram to stay up-to-date.
        DCUfm, the hub of student radio!
      </p>
      <h4 style="text-align: center;"><i>{{ names }}</i></h4>
    </div>
  </div>
</div>