{# templates/components/newspaper_info.html #}
<div class="container">
    <!-- Dynamic Title and Subtitle -->
    <h1 class="my-4">{{ title }}</h1>
    <h5><i>{{ subtitle }}</i></h5>

    <div class="row justify-content-center">
        <div class="col-md-12 custom-box shadow-lg bg-body">
            <div class="center-contents">
                <div class="container mt-3">
                    <div class="row">
                        {% for post in section %}
                        <div class="col-md-4">
                            <div class="committee-member shadow-lg bg-body" style="background-color: #202E4E; border-radius: 15px;">
                                <a href="{{ post.link }}" target="_blank">
                                    <img class="my-4" src="{{ post.first_image|default:'static/assets/img/other/blank_event.png' }}" width="300px" height="300px" alt="Article Image" style="aspect-ratio: 1 / 1; object-fit: cover;">
                                </a>
                                <h3 class="mx-2">
                                    <a href="{{ post.link }}" target="_blank">{{ post.title.rendered }}</a>
                                </h3>
                                <ul class="mx-2" style="text-align: left; list-style: none;">
                                    <li>📅 Posted: {{ post.formatted_date }}</li>
                                    <li>📝 Author: <a href="https://thecollegeview.ie/author/{{ post.author_slug }}">{{ post.author_name }}</a></li>
                                </ul>
                                <h5 class="mx-4" style="text-align: left;">{{ post.content_plain | slice:":130" }}...</h5>
                                <a href="{{ post.link }}" target="_blank" style="color: white;">
                                    <button class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px;">View Article</button>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
