{# templates/components/youtube_video.html #}
<div class="container">
    <div class="row justify-content-center" style="padding-top: 20px; padding-bottom: 20px;">
        <div class="col-md-12">
            <div class="center-contents">
                <div style="width: 100%; min-width: 200px; max-width: 800px; margin: 0 auto;">
                    <div style="position: relative; width: 100%; overflow: hidden; padding-top: 56.25%;">
                        <p>
                            <iframe style="position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; border: none; border-radius: 25px;"
                                title="{{ title }}"
                                loading="lazy"
                                src="https://www.youtube.com/embed/{{ latest_video_id }}" 
                                width="560" height="315" 
                                allowfullscreen="allowfullscreen" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
                            </iframe>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
