html {
  scroll-behavior: smooth;
}

body {
  background-color: #202E4E; /* Optional: Set a background color for the body */
}

h2, h4, h6 {
  font-family: 'Rob', sans-serif;
  /* Add other styles as needed */
}

h1 {
  text-align: center; 
  color: white;
  font-size: 60px;
}

h3, h5 {
  text-align: center; 
  color: white
}


   /*  .container {
      margin-left: 200px;
    } */

    .custom-box {
      background-color: #9791FF; /* Purple color */
      color: #ffffff; /* White text */
      padding: 20px;
      margin: 20px;
      border-radius: 25px;
    }
    .carousel-control-next, .carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

    .custom-box-fm {
      background-color: #95EFB9; /* Purple color */
      color: #ffffff; /* White text */
      padding: 20px;
      margin: 20px;
      border-radius: 25px;
    }

    .center-contents {
      text-align: center;
    }

    .img-container {
      max-width: 100%;
      height: auto;
    }

    .social-icons {
      font-size: 2rem;
      margin-top: 20px;
    }

    .social-icons a {
      color: #ffffff;
      margin: 0 15px;
    }

    .social-description {
      margin-top: 20px;
    }

    .social-description li {
      margin-bottom: 15px;
      list-style: none;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

  
.awards ul li {
      margin-bottom: 15px;
      list-style: none;
  }
  
  
  .navbar-nav {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
    .nav-link {
      font-weight: bold;
      color: #ffffff !important;
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: none;
      color: #9791FF;
      margin: 0px 20px;
      display: inline-block;
      position: relative;
      opacity: 0.75;
    }
    .navbar-nav a:hover {
      transition: 300ms;
      color: #9791FF;

    }

    .navbar-nav li a:hover {
      color: #9791FF !important;
    }
    
    .nav-link:hover {
      opacity: 1;
    }

    .navbar button {
      color: #202E4E !important;
      background-color: #9791FF;

    }
    .navbar button span {
      color: #ffffff !important;

    }
    
    a:visited{
      color:white;
    }
    a:link{
      color:white;
    }
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 15px 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    .nav-link::before {
      width: 100%;
      bottom: 10px;
      opacity: 0;
    }
    
    .nav-link:hover::before {
      bottom: 6px;
      opacity: 1;
    }

    .footer {
      text-align: center;
      color: #ffffff; /* White text color */
      width: 100%; 
      min-height: 10%;
      padding-top: 20px;
    }

    .footer-line {
      width: 100%; /* Span the full width of the container */;
      height: 4px; /* Set the height of the line */
      background-color: #9791FF; /* Choose a color for the line */
      /* display: flex;
  flex-direction: column; */
      
      
    }

    
    .footer-line-top {
      width: 100%; /* Span the full width of the container */;
      height: 4px; /* Set the height of the line */
      background-color: #9791FF; /* Choose a color for the line */
      
    }
    .footer a:hover {
      color: #FFE085;

    }
    .col a:hover {
      color: #FFE085;

    }
    .container img:hover {
      transform: scale(1.1, 1.1);
    }

    .stacked-images {
      margin-top: 20px;
    }

    .stacked-images img {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px; /* Optional: Add some bottom margin between the stacked images */
    }

    .section-title {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .twitch-embed {
      width: 100%;
      height: 50%; /* Adjust the height as needed */
    }

    .other-member {
      text-align: center;
      margin-bottom: 40px;
    }

    .other-member img {
      max-width: 100%;
      height: auto;
      border-radius: 5%;
      /* margin-bottom: 30px; */
      padding: 4px;
    }

    .committee-member {
      text-align: center;
      margin-bottom: 40px;
    }

    .committee-member img {
      max-width: 100%;
      height: auto;
      border-radius: 5%;
      margin-bottom: 30px;
      padding: 4px;
    }

    .committee-manager {
      text-align: center;
    }

    .committee-manager img {
      max-width: 100%;
      height: auto;
      border-radius: 5%;
      margin-bottom: 30px;
      padding: 4px;
    }

    .social-icons {
      margin-top: 10px;
    }

    #myBtn { /* CSS Source: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
      display: none; /* Hidden by default */
      position: fixed; /* Fixed/sticky position */
      bottom: 20px; /* Place the button at the bottom of the page */
      right: 30px; /* Place the button 30px from the right */
      z-index: 99; /* Make sure it does not overlap */
      border: none; /* Remove borders */
      outline: none; /* Remove outline */
      background-color: #9791FF; /* Set a background color */
      color: white; /* Text color */
      cursor: pointer; /* Add a mouse pointer on hover */
      padding: 15px; /* Some padding */
      border-radius: 10px; /* Rounded corners */
      font-size: 18px; /* Increase font size */
    }
    
    #myBtn:hover { /* CSS Source: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
      background-color: #FFE085; /* Add a dark-grey background on hover */
      color: black;
    }
    .footer ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
      padding: 10px;
    }
    .footer ul li {
      list-style: none;
      margin: 0 10px;
      height: 50px;
      width: 50px;
      color: white;
     /* border: 2px solid white;
      border-radius: 50%; */
      display: flex; 
      justify-content: center;
      align-items: center;
      font-size: 30px;
      transition: all ease 0.3s;
    }
    
    .footer ul li:hover {
      /*color: white;
      background: #9791FF; */
      cursor: pointer;
    }
    
    .social-icons ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 20px;
      padding: 10px;
    }
    .social-icons ul li {
      list-style: none;
      margin: 0 10px;
      height: 50px;
      width: 50px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      transition: all ease 0.3s;
    }

    .social-icons a:hover {
      color: #FFE085;
      cursor: pointer;
    }

    .social-description a:hover {
      color: #FFE085;
      cursor: pointer;
    }

    .content p {
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      color: white;
    }
    
    .content textarea, input {
      border: none;
      border: 3px solid #202E4E;
      background-color: #FFE085;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border-radius: 15px;
      width: 80%;
    } 

    .card{
    
      border:none;
  }
  
  .user-content p{
      margin-top:5px;
      font-size:12px;
  }

  
  #twitch-embed iframe {
    border-radius: 15px;
    width: 100%;
    height: 500px;

  }

  @media only screen and (max-width: 600px) {
    #twitch-embed iframe {
      height: 100%;
    }
  }


  #webmaster-element {
    perspective: 500px;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 300px;
    height: 300px;
    cursor: pointer;
    animation: rotateAnimation 1s linear infinite;
}

@keyframes rotateAnimation {
    from {transform: rotateY(45deg);}
    to {transform: rotateY(225deg);}
}