:root {
  --main-color: #202E4E;
  --secondary-color: #9791FF;
  --text-color: #ffffff;
  --hover-color: #FFE085;
}

.outside-box {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 24px;
}

.inside2-box {
  background-color: var(--main-color);
  color: var(--text-color);
  border-radius: 16px;
}

.secondary-gradient {
  background-color: linear-gradient(135deg, #9791FF 0%, #6A60FF 100%);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 20px 0;
  background: var(--main-color);
  border-radius: 25px;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 150px;
  margin: 0 40px;
}


html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
}

h1 {
  text-align: center; 
  color: var(--text-color);
  font-size: 60px;
}

h2, h6 {
  font-family: 'Rob', sans-serif;
}

h4 {
  font-family: 'Rob', sans-serif;
  font-size: 30px !important; 
  font-weight: bold !important;
}

h3, h5 {
  text-align: center; 
  color: var(--text-color);
}

.header {
  top: 0; 
  z-index: 500;
}

.navbar-toggler {
  margin-right: 5px !important; 
  border-color: var(--text-color) !important;
}

a:hover {
  color: var(--hover-color) !important;
}

.title-small {
  margin-top: 40px; 
  margin-bottom: 30px;
}

.title-large h1 {
  font-size: 60px; 
  font-weight: bold;
  margin-top: 20px;
}

.blog-image-format img {
  width: 60% !important;
  margin-left: 40px !important;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  height: auto !important;
  border-radius: 15px !important;
}

.title-large h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.text-spacing {
  padding-left: 20px; 
  padding-right: 20px;
}

.submitbutton input[type="submit"] {
  color: var(--text-color);
  width: auto;
  padding: 0.5em 1em;
  min-width: 100px;
}

.submitbutton input[type="submit"]:hover {
  color: var(--hover-color) !important;
}

.custom-box {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 20px;
  margin: 20px;
  border-radius: 25px;
}

.inside-box {
  background-color: var(--main-color); 
  border-radius: 15px; 
  padding-top: 10px; 
  padding-bottom: 10px;
}
.inside-box-space {
  margin-bottom: 25px;
  font-size: 20px;
}

.carousel-control-next, .carousel-control-prev  {
  filter: invert(100%);
}

.center-contents {
  text-align: center;
}

.img-container {
  max-width: 100%;
  height: auto;
}

.social-icons {
  font-size: 2rem;
  margin-top: 15px;
}

.social-icons a {
  color: var(--text-color);
  margin: 0 15px;
}

.social-description {
  margin-top: 20px;
  text-align: center;
}

.social-description li {
  margin-bottom: 15px;
  list-style: none;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.awards ul li {
  margin-bottom: 15px;
  list-style: none;
}

.navbar-nav {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.nav-link {
  font-weight: bold;
  color: var(--text-color) !important;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--secondary-color);
  margin: 0px 10px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}
.navbar-nav a:hover {
  transition: 300ms;
  color: var(--secondary-color);
  
}

.navbar-nav li a:hover {
  color: var(--secondary-color) !important;
}

.nav-link:hover {
  opacity: 1;
}

.navbar button {
  color: var(--main-color) !important;
  background-color: var(--secondary-color);
  
}
.navbar button span {
  color: var(--text-color) !important;
  
}

a:visited{
  color: var(--text-color);
}
a:link{
  color: var(--text-color);
}

.nav-link::before {
  width: 100%;
  bottom: 10px;
  opacity: 0;
}

.nav-link:hover::before {
  bottom: 6px;
  opacity: 1;
}

.footer {
  text-align: center;
  color: var(--text-color);
  width: 100%; 
  min-height: 10%;
  padding-top: 20px;
}

.footer-line {
  width: 100%;
  height: 4px;
  background-color: var(--secondary-color);
}


.footer-line-top {
  width: 100%;
  height: 4px;
  background-color: var(--secondary-color);
  
}

.footer p {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.container img {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.container img:hover, .container img:focus, .container img:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.stacked-images {
  margin-top: 20px;
}

.stacked-images img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.other-member {
  text-align: center;
  margin-bottom: 40px;
}

.other-member img {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
  padding: 4px;
}

.committee-member {
  text-align: center;
  margin-bottom: 40px;
}

.committee-member img {
  max-width: 100%;
  width: 300px;
  height: 300px;
  height: auto;
  border-radius: 5%;
  margin-bottom: 30px;
  padding: 4px;
}

.committee-manager {
  text-align: center;
  background-color: var(--main-color); 
  border-radius: 15px;
}

.committee-manager img {
  max-width: 100%;
  width: 300px;
  height: 300px;
  height: auto;
  border-radius: 50%; 
  margin: 25px;
  padding: 4px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons-manager {
  margin-top: 10px;
  padding-bottom: 15px;
}

.custom-button {
  background-color: var(--main-color) !important; 
  border-radius: 25px !important; 
  border-width: 4px !important; 
  border-color: var(--text-color) !important;
}

#myBtn { 
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none; 
  background-color: var(--secondary-color); 
  color: var(--text-color);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px; 
  font-size: 18px;
}

#myBtn:hover {
  background-color: var(--hover-color);
  color: black;
}
.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
}
.footer ul li {
  list-style: none;
  margin: 0 10px;
  height: 50px;
  width: 50px;
  color: var(--text-color);
  display: flex; 
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transition: all ease 0.3s;
}

.footer ul li:hover {
  cursor: pointer;
}

.social-icons ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
}
.social-icons ul li {
  list-style: none;
  margin: 0 10px;
  height: 50px;
  width: 50px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  transition: all ease 0.3s;
}

.social-icons a:hover {
  cursor: pointer;
}

.social-description a:hover {
  cursor: pointer;
}

.content p {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

.content textarea, input {
  border: none;
  border: 4px solid var(--text-color);
  background-color: var(--main-color);
  color: var(--text-color);
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 15px;
  width: 80%;
} 

.card{
  
  border: none;
}

.user-content p{
  margin-top:5px;
  font-size:12px;
}

#twitch-embed iframe {
  border-radius: 15px;
  width: 100%;
  height: 500px;
  
}

@media only screen and (max-width: 600px) {
  #twitch-embed iframe {
    height: 100%;
  }
}

.twitch-embed {
  width: 100%;
  height: 50%;
}