body.🚨::before {
    background: linear-gradient(0deg, red, red, 40%, black, black);
    animation: 🚨 .7s infinite linear reverse;
}

@keyframes 🚨 {
    from {
        transform: rotate(0) scale(3);
    } to {
        transform: rotate(360deg) scale(3);
    }
}