body {
    background: url(../assets/why.png);
    background-size: 60rem;
    overflow: hidden;
}

body::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 65%;
    background: linear-gradient(233deg, #FED18C, #FFD2FC, #AAFFE5, #bf71ce);
    animation: 💞 2s infinite linear;
}

@keyframes 💞 {
    from {
        filter: hue-rotate(0);
    } to {
        filter: hue-rotate(360deg);
    }
}

#🦄 > * {
    position: absolute;
}
