#📀.🦴 {
    content: url("../assets/MPS_Icon_YELLOW.c6b31d09d3bf.png");
}

.😁 .🌀 div {
    background: url("../assets/MPS_Icon_PNK.25c7525ec952.png");
}

#🔪 {
    height: 30rem;
    content: url("../assets/MPS_Icon_RED.d63aa29e2b4e.png");
    animation:  infinite linear 1s 🔪,
                infinite linear 3s 🔪🌈;
}

@keyframes 🔪 {
    from {
        transform: rotate3d(0, 0, 0, 0);
    } to {
        transform: rotate3d(0.7, 3, -0.7, 360deg);
    }
}

@keyframes 🔪🌈 {
    from {
        filter: hue-rotate(0);
    } to {
        filter: hue-rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    #🔪 {
        height: 20rem; /* Adjust the height for smaller screens */
    }
}