<!--  blog/templates/blog/detail.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block page_content %}
<div class="container">
    <h1 class="my-4">{{ post.title }}</h1>
    <h5><i>{{ post.created_on.date }} | <a href="{% url 'blog_author' post.author.author_slug %}">{{ post.author }}</a> | Categories:
        {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>
        {% endfor %}</h5></i>
    <div class="row justify-content-center">
      <div class="col-md-12 custom-box shadow-lg bg-body">
        <div class="center-contents">
          <div class="container mt-4">
    <small>
        
    </small>
    <div class="mx-3 px-3 py-3" style="font-size: 20px; text-align: left; background-color: #202E4E; border-radius: 15px;">
    <p>{{ post.body | linebreaks }}</p>
</div>
    <button class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px;"><a href="{% url 'blog_index' %}" style="color: white;">Back to Blog</a></button>
          </div>
        </div>
        </div>
    </div>
</div>
{% endblock page_content %}

{% endblock %}

{% block footer %}

{% endblock %}