<!--  blog/templates/blog/detail.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block page_content %}
<div class="container">
    <h1 class="my-4">{{ post.title | safe }}</h1>
    <h5><i>{{ post.created_on.date }} | <a href="{% url 'blog_author' post.author.author_slug %}">{{ post.author }}</a> | Categories:
        {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>
        {% endfor %}</h5></i>
    <div class="row justify-content-center">
      <div class="col-md-12 custom-box shadow-lg bg-body">
        <div class="center-contents">
          <div class="container mt-4">
    <div class="mx-3 px-3 py-3" style="font-size: 20px; text-align: left; background-color: #202E4E; border-radius: 15px;">
    <p>{{ post.body | safe }}</p>
</div>
    <a class="btn btn-primary mt-4" style="background-color: #202E4E; border-radius: 25px; border-width: 4px; border-color: white;" href="{% url 'blog_index' %}">Back to Blog Homepage</a>  
          </div>
        </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>Share This Blog</h1>
    <div class="row justify-content-center">
      <div class="col-md-7 custom-box shadow-lg bg-body">
        <div class="center-contents">
    <div class="mx-3 px-3 py-3" style="font-size: 20px; text-align: left; background-color: #202E4E; border-radius: 15px;">
        <div class="social-icons">
            <ul>
                <li><a href="https://api.whatsapp.com/send?text={{ post.title }}%20{{ link }}" target="_blank"><i class="fa-brands fa-whatsapp hvr-bounce-in"></i></a></li>
                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ link }}" target="_blank"><i class="fa-brands fa-facebook hvr-bounce-in"></i></a></li>
                <li><a href="https://twitter.com/intent/tweet?via=dcumps&text={{ post.title }}&url={{ link }}" target="_blank"><i class="fa-brands fa-x-twitter hvr-bounce-in"></i></a></li>
                <li><a href="https://www.linkedin.com/sharing/share-offsite/?url={{ link }}" target="_blank"><i class="fa-brands fa-linkedin hvr-bounce-in"></i></a></li>
                <li><a href="https://www.reddit.com/submit?url={{ link }}&title={{ post.title }}" target="_blank"><i class="fa-brands fa-reddit hvr-bounce-in"></i></a></li>
                <li><a href="https://pinterest.com/pin/create/button/?url={{ link }}&description={{ post.title }}" target="_blank"><i class="fa-brands fa-pinterest hvr-bounce-in"></i></a></li>
                <li><a href="mailto:?subject={{ post.title }}&body={{ link }}" target="_blank"><i class="fa fa-envelope hvr-bounce-in" aria-hidden="true"></i></a></li>
            </ul>
          </div>
</div>
        </div>
        </div>
    </div>
</div>

{% endblock page_content %}

{% endblock %}

{% block footer %}

{% endblock %}