<!-- blog/templates/blog/index.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block page_content %}
    {% block posts %}
    <div class="container">
        <h1 class="my-4">The DCU MPS Blog</h1>
        <h5><i>The DCU MPS Blog is a creative outlet for all MPS members to voice their opinions on all things media!</h5></i>
        <div class="row justify-content-center">
          <div class="col-md-12 custom-box shadow-lg bg-body">
            <div class="center-contents">
              <div class="container mt-4">
                <div class="row">
        {% for post in posts %}
        <div class="col-md-4">
            <div class="committee-member shadow-lg bg-body" style="background-color: #202E4E; border-radius: 15px;">
              
              <a href="{% url 'blog_detail' post.post_slug %}"><img class="my-4" src="{% static post.preview_image %}" width="300px" height="300px" alt="MPS Sub-Group" style="aspect-ratio: 1 / 1; overflow: hidden;"></a>
              <h3><a href="{% url 'blog_detail' post.post_slug %}">{{ post.title }}</a></h3>
              <ul class="mx-2" style="text-align: left; list-style: none;">
                <li>📅 Posted: {{ post.created_on.date }}</li>
                <li>📝 Author: <a href="{% url 'blog_author' post.author.author_slug %}">{{ post.author }}</a></li>
                <li>📚 Categories:
                {% for category in post.categories.all %}
                    <a href="{% url 'blog_category' category.name %}">
                        {{ category.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}</li>
                  </ul>
              <h5 class="mx-4" style="text-align: left;">{{ post.body | slice:":85" }}...</h5>
              <button class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px;"><a href="{% url 'blog_detail' post.post_slug %}" style="color: white;">Read More</a></button>
            </div>
           
          </div>
            
            
        {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endblock posts %}
{% endblock page_content %}

{% endblock %}

{% block footer %}

{% endblock %}